name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable && rustup default stable
      - run: touch inputs/day_{01..25}.txt
      - run: cargo fmt -- --check
      - run: cargo build --verbose
      - run: cargo test --verbose
